@import "../../constant/color";
@import "../../style/global.scss";
@import "../../constant/size";

.Desktop {

    &__container {

        @extend %max-width;
        display: flex;

        &__user,
        &__recomend {

            h1 {
                font-size: $size-h1;

            }
        }

        &__user {
            width: 30%;

            &__title {


                .profile {
                    text-align: center;

                    &__title {

                        h1 {
                            margin: 10px 0;
                        }
                    }
                }
            }

            &__information {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;

                .CellValue {
                    margin: 5px;

                    progress {
                        width: 100%;
                        -webkit-appearance: none;
                        background-color: $yellow;
                        border-radius: 15px;

                        &::-webkit-progress-bar {
                            background-color: $green;
                            border-radius: 15px;
                        }

                        &::-webkit-progress-value {

                            background: $yellow;
                            border-radius: 15px;

                        }
                    }
                }

            }
        }

        &__recomend {
            width: 70%;

            &__config {
                display: flex;
                justify-content: space-between;

                &__filter {
                    display: flex;
                    align-items: center;

                    h2 {
                        margin: 0 10px;
                    }
                }
            }

            &__navegation {

                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;

                &__title {
                    height: 40%;
                    h1 {
                        font-size: $size-h1;
                    }

                    margin: 20px 0;
                }

                &__nav {

                    height: 60%;

                    .navegation {

                        display: flex;


                        ul {
                            display: flex;
                            justify-content: space-around;
                            width: 100%;

                            li {

                                flex-grow: 1;
                                width: 150px;
                                height: 50px;

                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border-right: 1px solid black;

                                a {
                                    width: 90%;
                                    height: 90%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;

                                    background: $gray;
                                    @extend %box-shadow;
                                    border-radius: 10px;

                                    transition: all .5s ease;

                                    &:hover {
                                        background: $grayDark;
                                        cursor: pointer;
                                    }

                                }

                                .select {
                                    background: $grayDark;
                                    cursor: pointer;
                                }

                                &:last-of-type {
                                    border-right: none;
                                }

                            }
                        }
                    }
                }

                width: 100%;
                margin: 20px 0;
                width: 100%;
            }

            &__list {

                &>div,
                >section {
                    display: flex;
                    flex-wrap: wrap;
                }
            }
        }
    }
}

.CellValue {
    display: flex;
    flex-direction: column;
}