@import "../../style/global.scss";
@import "../../constant/size";

.Desktop {

    &__container {

        @extend %max-width;
        display: flex;

        &__user,
        &__recomend {

            h1 {
                font-size: $size-h1;

            }
        }

        &__user {
            width: 30%;

            &__title {


                .profile {
                    text-align: center;

                    &__title {

                        h1 {
                            margin: 10px 0;
                        }
                    }
                }
            }

            &__information {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;

                .CellValue {
                    margin: 5px;
                }

            }
        }

        &__recomend {
            width: 70%;

            &__navegation {

          
                ul {
                    display: flex;

                    li {
                        width: 100px;
                        height: 40px;

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-right: 1px solid black;

                        a {
                            width: 90%;
                            height: 90%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background: red;
                            border-radius: 10px;

                        }

                        &:last-of-type{
                            border-right: none;
                        }
                      
                    }
                }

                width: 100%;
            }

            &__list {
                display: flex;
                flex-wrap: wrap;
            }
        }
    }
}

.CellValue {
    display: flex;
    flex-direction: column;
}