@import "../../constant/color";
@import "../../style/global.scss";

.Card {

    width: 260px;
    height: 120px;


    margin: 10px;

    display: flex;
    justify-content: center;
    align-items: center;



    &__container {

        width: 95%;
        height: 95%;

        display: flex;
        justify-content: center;

        &__select {
            width: 20%;

            display: flex;
            justify-content: center;
            align-items: center;

            input {
                transform: scale(2);
            }
        }


        &__info {
            width: 80%;

            @extend %box-shadow;
            border-radius: 15px;
            background: $gray;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;



            &__container {


                width: 80%;
                height: 100%;

                display: flex;
                flex-direction: column;
                justify-content: space-around;


                &__user {}

                &__progress {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-end;

                    width: 100%;


                }

            }

            progress {
                width: 100%;
                -webkit-appearance: none;
                background-color: $yellow;
                border-radius: 15px;

                &::-webkit-progress-bar {
                    background-color: $green;
                    border-radius: 15px;
                }

                &::-webkit-progress-value {
                   
                    background: $yellow;
                    border-radius: 15px;
                 
                }
            }






        }
    }




    flex-direction: column;
}